#!/usr/bin/make -f

build: build-stamp
build-stamp:
	dh build --before configure
	grep -v PLUGINNAME < defconfig > .config
	dh build --after  configure
	touch build-stamp

clean:
	dh clean

install: build install-stamp
install-stamp:
	dh install
	touch install-stamp

binary-arch: install
	dh binary-arch

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep
